<%= form_for(@picture, :html => {:multipart => true}) do |f| -%>
  <%= f.error_messages %>
  
  <p class="required">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p class="required">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>
  
  <p class="buttons">
    <%= f.submit f.object.new_record? ? "Create" : "Save" %>
    
    <% if ['index', 'create'].include?(controller.action_name) %>
      <%= link_to_function 'Cancel', "$('instant-form-block').hide('slide')"%>
    <% elsif params[:format] == 'js' %>
      <%= link_to_function 'Cancel', "$(this).parent('form').remove();" %>
    <% end %>
    
    <%= image_tag 'spinner.gif', :class => :spinner %>
  </p>
<% end -%>