<%= div_for picture do %>
  <div class="name"><%= picture.name %></div>
  <div class="image">
    <%= link_to_lightbox image_tag(picture.image.url(:thmb)), picture.image.url(:medium), :roadtrip => true %>
  </div>
  <div class="actions">
    <%= link_to 'Show', picture %> |
    <%= link_to_remote_edit picture %> |
    <%= link_to_remote_destroy picture %>
  </div>
<% end -%>