<% form_for(@category) do |f| %>
  <%= f.error_messages %>
  
  <p class="required">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p class="buttons">
    <%= f.submit f.object.new_record? ? "Create" : "Save" %>
    <%= link_to_function 'Cancel', "$(this).parent('form').remove();" if params[:format] == 'js' && controller.action_name != 'create' %>
    <%= image_tag 'spinner.gif', :class => :spinner %>
  </p>
<% end -%>